@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.masthead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  padding-bottom: 2em;
}

.banner-img {
  max-width: 1600px;
  max-height: 500px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: -50px;
  border: solid 3px white;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .2);
}

.profile-text {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.profile-text p {
  display: flex;
  padding-bottom: 0.4em;
  justify-content: center;
opacity: 0.6;}

.profile-text h1 {
  padding: 0.7em; opacity: 0.8;
}